/*CST-126 Milestone 3, William Thornton, Version 1.0, 06/16/2019 */
body{
	background-image: url("sitebg.png");
	color: black;
}

.small{
	color: black;
	font-size: 1rem;
}

.nav-font{
	color:black;
	font-size:2rem;
}

.signup{
	font-family: Montserrat, sans-serif;
	color: black;
	line-height: 1.5;
	font-size: 1rem;
	margin-left: 40%;
	margin-top: 200px;
	border-width: 5px;
	border-style: solid;
	border-radius: 25px;
	padding: 20px;
	width: 400px;
	background: rgba(76, 175, 80, 0.3);
}

.submission {
	margin-top: 20px;
	margin-left: 180px;
}

.small {
	width: 300px;
}

.nav {
	background: rgba(76, 175, 80, 0.3)
}

.small-font {
	font-family: Montserrat, sans-serif;
	color: black;
	font-size: .5rem;
}

.post-list {
	font-family: Montserrat, sans-serif;
	color: black;
	line-height: 1.5;
	font-size: 1rem;
}